html{
    margin:0px;
    .app-component{
        .fck{
            color:red;
        }
    }
    .inline-component{
        display: inline-block;
    }
    .block-component{
        display: block;
    }
}