html,body{
    margin:0px;
    height:100%;
    .wonder-app-component{
        width:100%;
        height:100%;
    }
    .inline-component{
        display: inline-block;
    }
    .block-component{
        display: block;
    }
}