$height:40px;
.flex-component{
  width:100%;
  display: flex;
  height: $height;
  .flex-children{
    flex:1;
    height:$height;
    line-height:$height;
    .ant-input-number{
      margin:5px;
    }
  }
}