.inspector-component{
    width: 100%;
    margin-bottom: 15px;
    .component-title{
        font-size:14px;
        margin-left:5%;
    }
    hr{
        border: 0;
        height:1px;
        width:90%;
        text-align: center;
        background-color:#a8a8a8;
    }
    .component-content{
        width:90%;
        margin-left:5%;
        margin-bottom:10px;
    }
}