html,body{
    margin:0px;
    height:100%;
    font-size:12px;
    user-select: none;
    ul{
        list-style-type: none;
    }
    .inline-component{
        display: inline-block;
    }
    .block-component{
        display: block;
    }
    button{
        text-align: center;
        background-color: #555555;
        border:1px solid #3f3f3f;
        font-size:16px;
        color:#ffffff;
        font-weight: bold;
        border-radius: 3px;
        min-height: 25px;
        &:hover{
            background-color: #777777;
        }
    }
}

