html,body{
    margin:0px;
    height:100%;
    font-size:13px;
    user-select: none;
    position: relative;
    ul{
        list-style-type: none;
    }
    .inline-component{
        display: inline-block;
    }
    .block-component{
        display: block;
    }
    button{
        text-align: center;
        background-color: #555555;
        border:1px solid #3f3f3f;
        font-size:12px;
        color:#ffffff;
        font-weight: bold;
        border-radius: 3px;
        min-height: 25px;
        &:hover{
            background-color: #777777;
        }
    }
    .input-component,select {
        position: relative;
        padding: 0px 7px;
        width:100%;
        height: 21px;
        cursor: text;
        font-size: 12px;
        line-height: 1;
        color: rgb(252, 155, 0);
        background-color: #333333;
        border: 1px solid #d9d9d9;
        border-radius: 3px;
    }
    .input-component::placeholder {
        color: #ccc;
    }
    .input-component:hover {
        border-color: #57c5f7;
    }
    .input-component:focus {
        border-color: #57c5f7;
        outline: 0;
        box-shadow: 0 0 0 2px rgba(45, 183, 245, 0.2);
    }

}

