.wonder-header-component{
    width:100%;
    height:22px;
    .header-nav {
        display: flex;
        width:100%;
        height:100%;
        background-color: #333333;
        .header-item{
            flex:initial;
            height:100%;
            position: relative;
            .component-item{
                .item-title{
                    display: inline-block;
                    width:40px;
                    font-size:14px;
                    height:100%;
                    color:#ffffff;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                }
                .item-active{
                    background-color: #555555;
                }
                @import "../ui/fileInput";
            }
            .item-content {
                position: absolute;
                z-index:100;
                top:100%;
                left:0px;
                width: 200px;
                height:200px;
                background-color: #555555;
                .content-section{
                    height:28px;
                    line-height: 28px;
                    width:100%;
                    color:#ffffff;
                    font-weight: normal;
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    &:hover{
                        background: #e66b19;
                    }
                    .section-fileLoad{
                        opacity: 0;
                        position: absolute;
                        display: inline-block;
                        height:100%;
                        width:100%;
                    }
                    .section-header{
                        flex:initial;
                        display: inline-block;
                        font-size:14px;
                        padding-left:20px;
                        height:100%;
                        width:70%;
                    }
                    .section-tail{
                        flex:initial;
                        display: inline-block;
                        height:100%;
                        width:30%;
                        color: #cfcdcd;
                        text-align: center;
                    }
                }
            }
            .item-edit, .item-help{
                width:150px;
            }
            .modal-item-content{
                padding-top:50px;
                .content-field{
                    width:50%;
                    margin-left:20%;
                }
            }
        }
    }
}
