.wonder-header-component{
    display: flex;
    width:100%;
    background-color: #333333;
    .header-item{
        display: flex;
        flex:initial;
        flex-direction: row;
        .component-item{
            flex:initial;
            @import "../ui/fileInput";
        }
    }
}
