.wonder-header-component{
    width:100%;
    height:8%;
    .header-nav, .header-controller {
        display: flex;
        width:100%;
        height:40%;
        background-color: #333333;
        .header-item{
            display: flex;
            flex:initial;
            height:100%;
            flex-direction: row;
            position: relative;
            .component-item{
                flex:initial;
                .item-title{
                    display: inline-block;
                    width:40px;
                    height:100%;
                    line-height: 100%;
                    padding-top:20%;
                    text-align: center;
                    color:#ffffff;
                    font-weight: normal;
                }
                .item-active{
                    background-color: #555555;
                }
                @import "../ui/fileInput";
            }
            .item-content {
                position: absolute;
                z-index:100;
                top:100%;
                left:0px;
                width: 250px;
                height:200px;
                background-color: #555555;
                .content-section{
                    height:35px;
                    line-height: 35px;
                    width:100%;
                    color:#ffffff;
                    font-weight: normal;
                    position: relative;
                    &:hover{
                        background: #e66b19;
                    }
                    .section-fileLoad{
                        opacity: 0;
                        position: absolute;
                        display: inline-block;
                        height:100%;
                        width:100%;
                    }
                    .section-header{
                        display: inline-block;
                        height:100%;
                        width:80px;
                        text-align: center;
                    }
                    .section-tail{
                        display: inline-block;
                        height:100%;
                        width:50px;
                        margin-left:100px;
                        text-align: center;
                    }
                }
            }
            .item-edit{
                .content-section{
                    .section-header{
                        width:160px;
                    }
                }
            }
        }
    }
    .header-controller{
        height:60%;
        background-color: #e66b19;
    }
}
