html, body {
  margin: 0px;
  height: 100%;
  font-size: 14px; }
  html .inline-component, body .inline-component {
    display: inline-block; }
  html .block-component, body .block-component {
    display: block; }

.wonder-app-component {
  width: 100%;
  height: 100%; }
  .wonder-app-component .wonder-header-component {
    display: flex;
    width: 100%; }
    .wonder-app-component .wonder-header-component .header-item {
      display: flex;
      flex: initial;
      flex-direction: row; }
      .wonder-app-component .wonder-header-component .header-item .component-item {
        flex: initial;
        position: relative; }
        .wonder-app-component .wonder-header-component .header-item .component-item .wonder-file-input .input-component {
          position: relative;
          display: inline-block;
          padding: 4px 7px;
          width: 100%;
          height: 28px;
          cursor: text;
          font-size: 12px;
          line-height: 1.5;
          color: #666;
          background-color: #fff;
          background-image: none;
          border: 1px solid #d9d9d9;
          border-radius: 6px;
          -webkit-transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }
        .wonder-app-component .wonder-header-component .header-item .component-item .wonder-file-input .input-component::placeholder {
          color: #ccc; }
        .wonder-app-component .wonder-header-component .header-item .component-item .wonder-file-input .input-component:hover {
          border-color: #57c5f7; }
        .wonder-app-component .wonder-header-component .header-item .component-item .wonder-file-input .input-component:focus {
          border-color: #57c5f7;
          outline: 0;
          box-shadow: 0 0 0 2px rgba(45, 183, 245, 0.2); }
        .wonder-app-component .wonder-header-component .header-item .component-item .wonder-file-input .file-input {
          width: 500px;
          height: 200px; }
        .wonder-app-component .wonder-header-component .header-item .component-item .color-pick-item {
          position: absolute;
          left: 0px;
          top: 25px;
          z-index: 100; }
  .wonder-app-component .component-common, .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent, .wonder-app-component .wonder-mainEditor-component .top-component .sceneTree-parent {
    flex: initial;
    overflow-y: scroll;
    width: 20%;
    height: 100%;
    background: #c0c0c0; }
  .wonder-app-component .wonder-mainEditor-component {
    width: 100%;
    height: 97.5%;
    display: flex;
    flex-direction: column; }
    .wonder-app-component .wonder-mainEditor-component .top-component {
      display: flex;
      justify-content: center;
      flex: initial;
      width: 100%;
      height: 70%; }
      .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent {
        order: 30; }
        .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .componentBox-component {
          padding-bottom: 6px;
          width: 100%; }
          .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .componentBox-component .header {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 30px;
            margin-bottom: 10px;
            border-bottom: 1px solid black; }
            .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .componentBox-component .header .header-triangle {
              flex: initial;
              width: 30px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-content: center; }
              .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .componentBox-component .header .header-triangle .triangle-right {
                margin-top: 8px;
                display: block;
                width: 0;
                height: 0;
                border-top: 6px solid transparent;
                border-left: 12px solid black;
                border-bottom: 6px solid transparent; }
              .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .componentBox-component .header .header-triangle .triangle-bottom {
                margin-top: 8px;
                display: block;
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 12px solid black; }
            .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .componentBox-component .header .header-title {
              flex: 3;
              margin-left: 10px; }
            .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .componentBox-component .header .header-close {
              flex: initial;
              color: black;
              width: 30px;
              text-align: center; }
        .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-inspector-transform {
          width: 100%;
          display: flex; }
          .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-inspector-transform .wonder-float-input {
            flex: 1;
            display: flex; }
            .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-inspector-transform .wonder-float-input span {
              flex: 1; }
            .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-inspector-transform .wonder-float-input input {
              flex: 3; }
        .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-light-material .wonder-material-color,
        .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-basic-material .wonder-material-color {
          position: relative; }
          .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-light-material .wonder-material-color .color-pick-item,
          .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-basic-material .wonder-material-color .color-pick-item {
            position: absolute;
            top: 25px;
            left: 0px;
            z-index: 5; }
        .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-light-material .wonder-material-texture,
        .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-basic-material .wonder-material-texture {
          width: 100%;
          height: 150px;
          position: relative; }
          .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-light-material .wonder-material-texture img,
          .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-basic-material .wonder-material-texture img {
            width: 150px;
            height: 150px; }
          .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-light-material .wonder-material-texture .texture_ground,
          .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-basic-material .wonder-material-texture .texture_ground {
            position: absolute;
            left: 50px;
            top: 0px;
            width: 150px;
            height: 150px;
            z-index: 1; }
          .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-light-material .wonder-material-texture .texture_remove,
          .wonder-app-component .wonder-mainEditor-component .top-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-basic-material .wonder-material-texture .texture_remove {
            display: inline-block; }
      .wonder-app-component .wonder-mainEditor-component .top-component .sceneTree-parent {
        order: 10;
        position: relative;
        top: 0px; }
        .wonder-app-component .wonder-mainEditor-component .top-component .sceneTree-parent [draggable] {
          user-select: none;
          -khtml-user-drag: element;
          -webkit-user-drag: element; }
        .wonder-app-component .wonder-mainEditor-component .top-component .sceneTree-parent .wonder-sceneTree-component {
          position: absolute;
          top: 0px;
          width: 100%;
          height: 100%; }
          .wonder-app-component .wonder-mainEditor-component .top-component .sceneTree-parent .wonder-sceneTree-component .wonder-drag-tree {
            position: absolute;
            top: 0px;
            width: 100%;
            height: 100%; }
            .wonder-app-component .wonder-mainEditor-component .top-component .sceneTree-parent .wonder-sceneTree-component .wonder-drag-tree .wonder-tree-node li {
              border: 1px solid red;
              position: relative; }
              .wonder-app-component .wonder-mainEditor-component .top-component .sceneTree-parent .wonder-sceneTree-component .wonder-drag-tree .wonder-tree-node li .item-ground {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 100%;
                width: 100%; }
              .wonder-app-component .wonder-mainEditor-component .top-component .sceneTree-parent .wonder-sceneTree-component .wonder-drag-tree .wonder-tree-node li img {
                width: 20px;
                height: 20px; }
            .wonder-app-component .wonder-mainEditor-component .top-component .sceneTree-parent .wonder-sceneTree-component .wonder-drag-tree ul {
              position: relative;
              top: 0px;
              z-index: 100; }
              .wonder-app-component .wonder-mainEditor-component .top-component .sceneTree-parent .wonder-sceneTree-component .wonder-drag-tree ul li {
                border: 1px solid red; }
            .wonder-app-component .wonder-mainEditor-component .top-component .sceneTree-parent .wonder-sceneTree-component .wonder-drag-tree .wonder-disable-drag {
              z-index: 10;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0px; }
          .wonder-app-component .wonder-mainEditor-component .top-component .sceneTree-parent .wonder-sceneTree-component .sceneTree-component {
            position: absolute;
            top: 0px;
            background: yellow;
            width: 100%;
            height: 100%; }
      .wonder-app-component .wonder-mainEditor-component .top-component .webgl-parent {
        flex: 1;
        order: 20;
        position: relative; }
    .wonder-app-component .wonder-mainEditor-component .bottom-component {
      height: 30%;
      width: 100%;
      flex: initial; }
      .wonder-app-component .wonder-mainEditor-component .bottom-component .wonder-asset-component {
        width: 100%;
        height: 100%;
        display: flex; }
        .wonder-app-component .wonder-mainEditor-component .bottom-component .wonder-asset-component .asset-tree {
          flex: initial;
          width: 30%;
          height: 100%;
          background-color: rosybrown;
          overflow-y: scroll; }
          .wonder-app-component .wonder-mainEditor-component .bottom-component .wonder-asset-component .asset-tree .wonder-asset-header {
            width: 100%;
            height: 30px;
            display: flex; }
            .wonder-app-component .wonder-mainEditor-component .bottom-component .wonder-asset-component .asset-tree .wonder-asset-header .header-item {
              flex: initial; }
          .wonder-app-component .wonder-mainEditor-component .bottom-component .wonder-asset-component .asset-tree .wonder-asset-assetTree {
            width: 100%; }
            .wonder-app-component .wonder-mainEditor-component .bottom-component .wonder-asset-component .asset-tree .wonder-asset-assetTree .wonder-tree-node li {
              border: 1px solid red;
              position: relative; }
              .wonder-app-component .wonder-mainEditor-component .bottom-component .wonder-asset-component .asset-tree .wonder-asset-assetTree .wonder-tree-node li .item-ground {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 100%;
                width: 100%; }
              .wonder-app-component .wonder-mainEditor-component .bottom-component .wonder-asset-component .asset-tree .wonder-asset-assetTree .wonder-tree-node li img {
                width: 20px;
                height: 20px; }
        .wonder-app-component .wonder-mainEditor-component .bottom-component .wonder-asset-component .wonder-asset-assetChildren {
          flex: initial;
          width: 70%;
          height: 100%;
          background-color: yellow;
          display: flex;
          flex-wrap: wrap;
          overflow-y: scroll; }
          .wonder-app-component .wonder-mainEditor-component .bottom-component .wonder-asset-component .wonder-asset-assetChildren .wonder-asset-fileBox,
          .wonder-app-component .wonder-mainEditor-component .bottom-component .wonder-asset-component .wonder-asset-assetChildren .wonder-asset-folderBox {
            width: 80px;
            height: 100px;
            margin: 5px;
            z-index: 100;
            position: relative;
            flex: initial; }
            .wonder-app-component .wonder-mainEditor-component .bottom-component .wonder-asset-component .wonder-asset-assetChildren .wonder-asset-fileBox .item-ground,
            .wonder-app-component .wonder-mainEditor-component .bottom-component .wonder-asset-component .wonder-asset-assetChildren .wonder-asset-folderBox .item-ground {
              position: absolute;
              top: 0px;
              left: 0px;
              height: 100%;
              width: 100%; }
            .wonder-app-component .wonder-mainEditor-component .bottom-component .wonder-asset-component .wonder-asset-assetChildren .wonder-asset-fileBox img,
            .wonder-app-component .wonder-mainEditor-component .bottom-component .wonder-asset-component .wonder-asset-assetChildren .wonder-asset-folderBox img {
              width: 80px;
              height: 80px; }
            .wonder-app-component .wonder-mainEditor-component .bottom-component .wonder-asset-component .wonder-asset-assetChildren .wonder-asset-fileBox .item-text,
            .wonder-app-component .wonder-mainEditor-component .bottom-component .wonder-asset-component .wonder-asset-assetChildren .wonder-asset-folderBox .item-text {
              width: 100%;
              height: 20px;
              display: block;
              line-height: 20px;
              text-align: center;
              overflow: hidden;
              text-overflow: ellipsis; }
          .wonder-app-component .wonder-mainEditor-component .bottom-component .wonder-asset-component .wonder-asset-assetChildren .item-active {
            background: goldenrod; }

.input-component {
  position: relative;
  display: inline-block;
  padding: 4px 7px;
  width: 100%;
  height: 28px;
  cursor: text;
  font-size: 12px;
  line-height: 1.5;
  color: #666;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  -webkit-transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }

.input-component::placeholder {
  color: #ccc; }

.input-component:hover {
  border-color: #57c5f7; }

.input-component:focus {
  border-color: #57c5f7;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(45, 183, 245, 0.2); }
