html, body {
  margin: 0px;
  height: 100%;
  font-size: 12px;
  user-select: none; }
  html ul, body ul {
    list-style-type: none; }
  html .inline-component, body .inline-component {
    display: inline-block; }
  html .block-component, body .block-component {
    display: block; }
  html button, body button {
    text-align: center;
    background-color: #555555;
    border: 1px solid #3f3f3f;
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 3px;
    min-height: 25px; }
    html button:hover, body button:hover {
      background-color: #777777; }
  html .input-component, html select, body .input-component, body select {
    position: relative;
    padding: 4px 7px;
    width: 100%;
    height: 24px;
    cursor: text;
    font-size: 12px;
    line-height: 1;
    color: #fc9b00;
    background-color: #333333;
    border: 1px solid #d9d9d9;
    border-radius: 3px; }
  html .input-component::placeholder, body .input-component::placeholder {
    color: #ccc; }
  html .input-component:hover, body .input-component:hover {
    border-color: #57c5f7; }
  html .input-component:focus, body .input-component:focus {
    border-color: #57c5f7;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(45, 183, 245, 0.2); }

.wonder-app-component {
  width: 100%;
  height: 100%;
  color: #e4e4e4;
  font-weight: bold; }
  .wonder-app-component .wonder-header-component {
    width: 100%;
    height: 3%; }
    .wonder-app-component .wonder-header-component .header-nav {
      display: flex;
      width: 100%;
      height: 100%;
      background-color: #333333; }
      .wonder-app-component .wonder-header-component .header-nav .header-item {
        display: flex;
        flex: initial;
        height: 100%;
        flex-direction: row;
        position: relative; }
        .wonder-app-component .wonder-header-component .header-nav .header-item .component-item {
          flex: initial; }
          .wonder-app-component .wonder-header-component .header-nav .header-item .component-item .item-title {
            display: inline-block;
            width: 40px;
            height: 100%;
            line-height: 100%;
            color: #ffffff;
            font-weight: normal;
            display: flex;
            align-items: center;
            justify-content: center; }
          .wonder-app-component .wonder-header-component .header-nav .header-item .component-item .item-active {
            background-color: #555555; }
          .wonder-app-component .wonder-header-component .header-nav .header-item .component-item .wonder-file-input .file-input {
            width: 500px;
            height: 200px; }
        .wonder-app-component .wonder-header-component .header-nav .header-item .item-content {
          position: absolute;
          z-index: 100;
          top: 100%;
          left: 0px;
          width: 250px;
          height: 200px;
          background-color: #555555; }
          .wonder-app-component .wonder-header-component .header-nav .header-item .item-content .content-section {
            height: 35px;
            line-height: 35px;
            width: 100%;
            color: #ffffff;
            font-weight: normal;
            position: relative; }
            .wonder-app-component .wonder-header-component .header-nav .header-item .item-content .content-section:hover {
              background: #e66b19; }
            .wonder-app-component .wonder-header-component .header-nav .header-item .item-content .content-section .section-fileLoad {
              opacity: 0;
              position: absolute;
              display: inline-block;
              height: 100%;
              width: 100%; }
            .wonder-app-component .wonder-header-component .header-nav .header-item .item-content .content-section .section-header {
              display: inline-block;
              height: 100%;
              width: 80px;
              text-align: center; }
            .wonder-app-component .wonder-header-component .header-nav .header-item .item-content .content-section .section-tail {
              display: inline-block;
              height: 100%;
              width: 50px;
              margin-left: 100px;
              text-align: center; }
        .wonder-app-component .wonder-header-component .header-nav .header-item .item-edit .content-section .section-header {
          width: 160px; }
  .wonder-app-component .wonder-controller-component {
    width: 100%;
    height: 5%; }
    .wonder-app-component .wonder-controller-component .header-controller {
      height: 100%;
      background-color: #444444;
      display: flex; }
      .wonder-app-component .wonder-controller-component .header-controller .controller-transform {
        flex: initial;
        width: 48%;
        height: 100%; }
        .wonder-app-component .wonder-controller-component .header-controller .controller-transform .header-item {
          display: flex;
          flex: initial;
          align-items: center;
          height: 100%;
          flex-direction: row; }
          .wonder-app-component .wonder-controller-component .header-controller .controller-transform .header-item .component-item {
            flex: initial; }
            .wonder-app-component .wonder-controller-component .header-controller .controller-transform .header-item .component-item .item-title {
              display: inline-block;
              width: 40px;
              height: 100%;
              line-height: 100%;
              color: #ffffff;
              font-weight: normal;
              display: flex;
              align-items: center;
              justify-content: center; }
      .wonder-app-component .wonder-controller-component .header-controller .controller-runAndStop {
        flex: initial;
        width: 4%;
        height: 100%;
        background-color: #777777;
        display: flex;
        align-items: center;
        justify-content: center; }
        .wonder-app-component .wonder-controller-component .header-controller .controller-runAndStop img {
          width: 30px;
          height: 30px; }
      .wonder-app-component .wonder-controller-component .header-controller .controller-other {
        flex: initial;
        width: 48%;
        height: 100%; }
  .wonder-app-component .wonder-mainEditor-component {
    width: 100%;
    height: 91.5%;
    display: flex; }
    .wonder-app-component .wonder-mainEditor-component .left-component {
      display: flex;
      justify-content: center;
      flex: initial;
      height: 100%;
      width: 80%;
      flex-direction: column; }
      .wonder-app-component .wonder-mainEditor-component .left-component .top-widget {
        flex: initial;
        width: 100%;
        height: 73%;
        display: flex; }
        .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent {
          flex: initial;
          width: 20%;
          height: 100%;
          background: #666666;
          order: 10;
          position: relative;
          top: 0px; }
          .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-header {
            flex: initial;
            width: 100%;
            height: 5%;
            background-color: #333333;
            display: flex;
            position: relative; }
            .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-header .sceneTree-header-item {
              flex: initial;
              width: 35px;
              height: 100%;
              display: flex;
              flex-direction: row;
              position: relative; }
              .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-header .sceneTree-header-item .item-canBeClick, .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-header .sceneTree-header-item .item-notBeClick {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center; }
                .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-header .sceneTree-header-item .item-canBeClick img, .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-header .sceneTree-header-item .item-notBeClick img {
                  width: 17px;
                  height: 17px; }
              .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-header .sceneTree-header-item .item-canBeClick:hover {
                background-color: #666666; }
              .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-header .sceneTree-header-item .item-content {
                position: absolute;
                z-index: 200;
                top: 95%;
                left: 0px;
                width: 200px;
                height: 200px;
                background-color: #333333; }
                .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-header .sceneTree-header-item .item-content .content-section {
                  height: 35px;
                  line-height: 35px;
                  width: 100%;
                  color: #ffffff;
                  font-weight: normal;
                  position: relative;
                  display: flex;
                  flex-direction: row; }
                  .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-header .sceneTree-header-item .item-content .content-section:hover {
                    background: #e66b19; }
                  .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-header .sceneTree-header-item .item-content .content-section .section-header {
                    flex: initial;
                    display: inline-block;
                    height: 100%;
                    width: 90%;
                    margin-left: 20px; }
                  .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-header .sceneTree-header-item .item-content .content-section .section-tail {
                    flex: initial;
                    display: inline-block;
                    height: 100%;
                    width: 10%;
                    text-align: center; }
                    .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-header .sceneTree-header-item .item-content .content-section .section-tail .tail-triangle {
                      margin-top: 10px;
                      width: 0;
                      height: 0;
                      border: 5px solid transparent;
                      border-left-color: #ffffff; }
                .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-header .sceneTree-header-item .item-content .section-childLayer {
                  position: absolute;
                  width: 150px;
                  height: 150px;
                  top: 0px;
                  left: 100%;
                  background-color: #333333; }
                  .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-header .sceneTree-header-item .item-content .section-childLayer .content-section {
                    height: 35px;
                    line-height: 35px;
                    width: 100%;
                    color: #ffffff;
                    font-weight: normal;
                    position: relative;
                    display: flex;
                    flex-direction: row; }
                    .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-header .sceneTree-header-item .item-content .section-childLayer .content-section:hover {
                      background: #e66b19; }
                    .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-header .sceneTree-header-item .item-content .section-childLayer .content-section .section-header {
                      flex: initial;
                      display: inline-block;
                      height: 100%;
                      width: 90%;
                      margin-left: 20px; }
                    .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-header .sceneTree-header-item .item-content .section-childLayer .content-section .section-tail {
                      flex: initial;
                      display: inline-block;
                      height: 100%;
                      width: 10%;
                      text-align: center; }
                      .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-header .sceneTree-header-item .item-content .section-childLayer .content-section .section-tail .tail-triangle {
                        margin-top: 10px;
                        width: 0;
                        height: 0;
                        border: 5px solid transparent;
                        border-left-color: #ffffff; }
          .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent [draggable] {
            user-select: none;
            -khtml-user-drag: element;
            -webkit-user-drag: element; }
          .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-component {
            width: 100%;
            height: 95%;
            display: flex;
            flex-direction: column;
            overflow-y: scroll; }
            .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-component::-webkit-scrollbar {
              width: 4px;
              height: 4px; }
            .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-component::-webkit-scrollbar-button {
              display: none; }
            .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-component::-webkit-scrollbar-track {
              background: rgba(1, 1, 1, 0.6);
              width: 2px; }
            .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-component::-webkit-scrollbar-thumb {
              background: #cfcccc;
              border-radius: 4px; }
            .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-component .wonder-drag-tree {
              flex: initial;
              width: 100%;
              height: 100%;
              font-size: 12px;
              position: relative;
              padding-top: 5px; }
              .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-component .wonder-drag-tree .wonder-tree-node {
                position: relative;
                margin: 0px;
                padding: 0px;
                top: 0px;
                z-index: 40;
                color: #fff;
                font-weight: normal; }
                .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-component .wonder-drag-tree .wonder-tree-node li {
                  position: relative;
                  height: 22px;
                  line-height: 22px;
                  padding: 0px 10px;
                  display: flex;
                  align-items: center; }
                  .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-component .wonder-drag-tree .wonder-tree-node li:hover {
                    color: #fc9b00; }
                  .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-component .wonder-drag-tree .wonder-tree-node li .item-triangle {
                    flex: initial;
                    width: 22px;
                    height: 22px; }
                    .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-component .wonder-drag-tree .wonder-tree-node li .item-triangle img {
                      width: 22px;
                      height: 22px; }
                  .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-component .wonder-drag-tree .wonder-tree-node li .item-ground {
                    flex: initial;
                    position: absolute;
                    top: 0px;
                    left: 10%;
                    height: 100%;
                    width: 90%; }
                  .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-component .wonder-drag-tree .wonder-tree-node li .treeNode-icon {
                    width: 15px;
                    height: 15px;
                    margin: 0 3px; }
                .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-component .wonder-drag-tree .wonder-tree-node ul {
                  margin-left: 18px; }
              .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .sceneTree-parent .wonder-sceneTree-component .wonder-drag-tree .wonder-disable-drag {
                z-index: 10;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0px; }
        .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .webgl-parent {
          flex: 1;
          order: 20;
          position: relative; }
          .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .webgl-parent canvas {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 10; }
          .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .webgl-parent .gameViewNoCamera {
            position: absolute;
            top: 0px;
            left: 50%;
            width: 50%;
            height: 100%;
            z-index: 50;
            background: black;
            display: flex;
            align-items: center;
            justify-content: center; }
            .wonder-app-component .wonder-mainEditor-component .left-component .top-widget .webgl-parent .gameViewNoCamera .gameViewNoCamera-text {
              color: #ffffff;
              font-size: 24px; }
      .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component {
        flex: initial;
        width: 100%;
        height: 27%;
        background-color: #333333; }
        .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .bottom-widget-category {
          width: 100%;
          height: 30px;
          border-bottom: 1px solid #fff; }
          .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .bottom-widget-category .category-name {
            width: 60px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            display: inline-block;
            margin: 0 5px; }
          .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .bottom-widget-category .category-active {
            background: #666666; }
        .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component {
          width: 100%;
          height: 88%;
          display: flex; }
          .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree {
            flex: initial;
            width: 30%;
            height: 100%;
            background-color: #444444;
            overflow-y: scroll; }
            .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree::-webkit-scrollbar {
              width: 4px;
              height: 4px; }
            .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree::-webkit-scrollbar-button {
              display: none; }
            .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree::-webkit-scrollbar-track {
              background: rgba(1, 1, 1, 0.6);
              width: 2px; }
            .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree::-webkit-scrollbar-thumb {
              background: #cfcccc;
              border-radius: 4px; }
            .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-header {
              flex: initial;
              width: 100%;
              height: 5%;
              background-color: #333333;
              display: flex;
              position: relative;
              height: 35px; }
              .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-header .asset-header-item {
                flex: initial;
                width: 35px;
                height: 100%;
                display: flex;
                flex-direction: row;
                position: relative; }
                .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-header .asset-header-item .item-canBeClick, .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-header .asset-header-item .item-notBeClick {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center; }
                  .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-header .asset-header-item .item-canBeClick img, .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-header .asset-header-item .item-notBeClick img {
                    width: 17px;
                    height: 17px; }
                .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-header .asset-header-item .item-canBeClick:hover {
                  background-color: #666666; }
                .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-header .asset-header-item .item-content {
                  position: absolute;
                  z-index: 200;
                  top: 95%;
                  left: 0px;
                  width: 200px;
                  height: 200px;
                  background-color: #333333; }
                  .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-header .asset-header-item .item-content .content-section {
                    height: 35px;
                    line-height: 35px;
                    width: 100%;
                    color: #ffffff;
                    font-weight: normal;
                    position: relative;
                    display: flex;
                    flex-direction: row; }
                    .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-header .asset-header-item .item-content .content-section:hover {
                      background: #e66b19; }
                    .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-header .asset-header-item .item-content .content-section .section-header {
                      flex: initial;
                      display: inline-block;
                      height: 100%;
                      width: 90%;
                      margin-left: 20px; }
                    .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-header .asset-header-item .item-content .content-section .section-tail {
                      flex: initial;
                      display: inline-block;
                      height: 100%;
                      width: 10%;
                      text-align: center; }
                      .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-header .asset-header-item .item-content .content-section .section-tail .tail-triangle {
                        margin-top: 10px;
                        width: 0;
                        height: 0;
                        border: 5px solid transparent;
                        border-left-color: #ffffff; }
                  .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-header .asset-header-item .item-content .section-childLayer {
                    position: absolute;
                    width: 150px;
                    height: 150px;
                    top: 0px;
                    left: 100%;
                    background-color: #333333; }
                    .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-header .asset-header-item .item-content .section-childLayer .content-section {
                      height: 35px;
                      line-height: 35px;
                      width: 100%;
                      color: #ffffff;
                      font-weight: normal;
                      position: relative;
                      display: flex;
                      flex-direction: row; }
                      .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-header .asset-header-item .item-content .section-childLayer .content-section:hover {
                        background: #e66b19; }
                      .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-header .asset-header-item .item-content .section-childLayer .content-section .section-header {
                        flex: initial;
                        display: inline-block;
                        height: 100%;
                        width: 90%;
                        margin-left: 20px; }
                      .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-header .asset-header-item .item-content .section-childLayer .content-section .section-tail {
                        flex: initial;
                        display: inline-block;
                        height: 100%;
                        width: 10%;
                        text-align: center; }
                        .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-header .asset-header-item .item-content .section-childLayer .content-section .section-tail .tail-triangle {
                          margin-top: 10px;
                          width: 0;
                          height: 0;
                          border: 5px solid transparent;
                          border-left-color: #ffffff; }
              .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-header .item-canBeClick {
                position: relative; }
                .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-header .item-canBeClick .asset-fileLoad {
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  opacity: 0;
                  background-color: red;
                  width: 100%;
                  height: 100%; }
            .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-assetTree {
              width: 100%; }
              .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-assetTree .wonder-tree-node {
                position: relative;
                margin: 0px;
                padding: 0px;
                top: 0px;
                z-index: 40;
                color: #fff;
                font-weight: normal; }
                .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-assetTree .wonder-tree-node li {
                  position: relative;
                  height: 22px;
                  line-height: 22px;
                  padding: 0px 10px;
                  display: flex;
                  align-items: center; }
                  .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-assetTree .wonder-tree-node li:hover {
                    color: #fc9b00; }
                  .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-assetTree .wonder-tree-node li .item-triangle {
                    flex: initial;
                    width: 22px;
                    height: 22px; }
                    .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-assetTree .wonder-tree-node li .item-triangle img {
                      width: 22px;
                      height: 22px; }
                  .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-assetTree .wonder-tree-node li .item-ground {
                    flex: initial;
                    position: absolute;
                    top: 0px;
                    left: 10%;
                    height: 100%;
                    width: 90%; }
                  .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-assetTree .wonder-tree-node li .treeNode-icon {
                    width: 15px;
                    height: 15px;
                    margin: 0 3px; }
                .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .asset-tree .wonder-asset-assetTree .wonder-tree-node ul {
                  margin-left: 18px; }
          .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .wonder-asset-assetChildren {
            flex: initial;
            width: 70%;
            height: 100%;
            background-color: #444444;
            display: flex;
            flex-wrap: wrap;
            overflow-y: scroll; }
            .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .wonder-asset-assetChildren::-webkit-scrollbar {
              width: 4px;
              height: 4px; }
            .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .wonder-asset-assetChildren::-webkit-scrollbar-button {
              display: none; }
            .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .wonder-asset-assetChildren::-webkit-scrollbar-track {
              background: rgba(1, 1, 1, 0.6);
              width: 2px; }
            .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .wonder-asset-assetChildren::-webkit-scrollbar-thumb {
              background: #cfcccc;
              border-radius: 4px; }
            .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .wonder-asset-assetChildren .wonder-asset-fileBox,
            .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .wonder-asset-assetChildren .wonder-asset-folderBox {
              width: 80px;
              height: 80px;
              margin: 5px;
              z-index: 100;
              position: relative;
              flex: initial;
              display: flex;
              flex-direction: column; }
              .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .wonder-asset-assetChildren .wonder-asset-fileBox .item-ground,
              .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .wonder-asset-assetChildren .wonder-asset-folderBox .item-ground {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 100%;
                width: 100%; }
              .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .wonder-asset-assetChildren .wonder-asset-fileBox .box-image,
              .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .wonder-asset-assetChildren .wonder-asset-folderBox .box-image {
                width: 80px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center; }
                .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .wonder-asset-assetChildren .wonder-asset-fileBox .box-image img,
                .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .wonder-asset-assetChildren .wonder-asset-folderBox .box-image img {
                  width: 50px;
                  height: 50px; }
              .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .wonder-asset-assetChildren .wonder-asset-fileBox .item-text,
              .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .wonder-asset-assetChildren .wonder-asset-folderBox .item-text {
                width: 100%;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center; }
                .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .wonder-asset-assetChildren .wonder-asset-fileBox .item-text span,
                .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .wonder-asset-assetChildren .wonder-asset-folderBox .item-text span {
                  padding-top: 2px;
                  width: 80%;
                  display: block;
                  height: 20px;
                  line-height: 20px;
                  text-align: center;
                  overflow: hidden;
                  text-overflow: ellipsis; }
            .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-asset-component .wonder-asset-assetChildren .item-active {
              background: #5C7EA6;
              border-radius: 10px; }
        .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-console-component {
          width: 100%;
          height: 90%;
          user-select: auto;
          overflow-y: scroll; }
          .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-console-component .console-error {
            border: 1px solid black;
            background: red; }
            .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-console-component .console-error .console-header {
              height: 40px;
              line-height: 40px; }
          .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-console-component .console-log {
            border: 1px solid black;
            background: #39beca; }
            .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-console-component .console-log .console-header {
              height: 40px;
              line-height: 40px; }
          .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-console-component .console-info {
            border: 1px solid black;
            background: #bd711b; }
            .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-console-component .console-info .console-header {
              height: 40px;
              line-height: 40px; }
          .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-console-component .console-warn {
            border: 1px solid black;
            background: #e9da0f; }
            .wonder-app-component .wonder-mainEditor-component .left-component .wonder-bottom-component .wonder-console-component .console-warn .console-header {
              height: 40px;
              line-height: 40px; }
    .wonder-app-component .wonder-mainEditor-component .right-component {
      height: 100%;
      width: 20%;
      flex: initial; }
      .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent {
        width: 100%;
        height: 100%;
        background: #666666;
        overflow-y: scroll; }
        .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent::-webkit-scrollbar {
          width: 4px;
          height: 4px; }
        .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent::-webkit-scrollbar-button {
          display: none; }
        .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent::-webkit-scrollbar-track {
          background: rgba(1, 1, 1, 0.6);
          width: 2px; }
        .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent::-webkit-scrollbar-thumb {
          background: #cfcccc;
          border-radius: 4px; }
        .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .componentBox-component {
          padding-bottom: 6px;
          width: 100%; }
          .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .componentBox-component .header {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 30px;
            margin-bottom: 10px;
            border-bottom: 1px solid black; }
            .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .componentBox-component .header .header-triangle {
              flex: initial;
              width: 30px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-content: center; }
              .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .componentBox-component .header .header-triangle .triangle-right {
                margin-top: 8px;
                display: block;
                width: 0;
                height: 0;
                border-top: 6px solid transparent;
                border-left: 12px solid black;
                border-bottom: 6px solid transparent; }
              .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .componentBox-component .header .header-triangle .triangle-bottom {
                margin-top: 8px;
                display: block;
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 12px solid black; }
            .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .componentBox-component .header .header-title {
              flex: 3;
              margin-left: 10px; }
            .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .componentBox-component .header .header-close {
              flex: initial;
              color: black;
              width: 30px;
              text-align: center; }
        .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-inspector-transform {
          width: 100%;
          position: relative; }
          .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-inspector-transform .transform-item {
            width: 100%; }
            .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-inspector-transform .transform-item .wonder-transform-template {
              display: flex;
              width: 100%; }
              .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-inspector-transform .transform-item .wonder-transform-template .wonder-float-input {
                flex: 1;
                display: flex;
                height: 30px;
                line-height: 30px; }
                .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-inspector-transform .transform-item .wonder-transform-template .wonder-float-input span {
                  flex: 1; }
                .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-inspector-transform .transform-item .wonder-transform-template .wonder-float-input input {
                  flex: 3; }
          .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-inspector-transform .transform-shade {
            background: rgba(42, 42, 42, 0.507);
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%; }
        .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-inspector-geometry .geometry-select {
          width: 90%;
          height: 25px;
          line-height: 25px;
          border: 1px solid red;
          margin: 5px;
          position: relative; }
          .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-inspector-geometry .geometry-select .select-title {
            position: absolute;
            right: 10px;
            top: 2px;
            display: inline-block;
            width: 45px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            background: #ddc1c1; }
        .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-light-material .wonder-material-texture,
        .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-basic-material .wonder-material-texture {
          width: 100%;
          height: 150px;
          position: relative; }
          .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-light-material .wonder-material-texture img,
          .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-basic-material .wonder-material-texture img {
            width: 150px;
            height: 150px; }
          .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-light-material .wonder-material-texture .texture_ground,
          .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-basic-material .wonder-material-texture .texture_ground {
            position: absolute;
            left: 50px;
            top: 0px;
            width: 150px;
            height: 150px;
            z-index: 1; }
          .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-light-material .wonder-material-texture .texture_remove,
          .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-basic-material .wonder-material-texture .texture_remove {
            display: inline-block; }
        .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-addable-component {
          display: flex;
          justify-content: center;
          position: relative;
          padding-bottom: 25px; }
          .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-addable-component .addable-component-content {
            width: 200px;
            height: 30px;
            text-align: center;
            position: relative; }
            .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-addable-component .addable-component-content .addable-btn {
              width: 180px;
              height: 25px; }
            .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-addable-component .addable-component-content .component-list {
              position: absolute;
              top: 25px;
              left: -10px;
              width: 220px;
              height: 200px;
              z-index: 10;
              overflow-y: scroll;
              background: #d49488; }
              .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-addable-component .addable-component-content .component-list .wonder-addable-componentBox .category-header {
                width: 100%;
                height: 20px;
                border: 1px solid #ffffff;
                background: rgba(47, 36, 209, 0.7);
                color: #ffffff; }
              .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-sceneTree .wonder-addable-component .addable-component-content .component-list .wonder-addable-componentBox .category-content .content-type {
                width: 100%;
                height: 20px;
                border: 1px solid #ffffff;
                background: rgba(211, 175, 19, 0.7); }
        .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-assetTree .inspector-asset-folder h1 {
          padding-left: 30px; }
        .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-assetTree .inspector-asset-folder .inspector-item {
          width: 100%;
          height: 25px;
          display: flex;
          margin: 3px 0px; }
          .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-assetTree .inspector-asset-folder .inspector-item .item-header {
            flex: initial;
            height: 100%;
            width: 32%;
            display: flex;
            align-items: center;
            margin-left: 15px; }
          .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-assetTree .inspector-asset-folder .inspector-item .item-content {
            flex: initial;
            height: 100%;
            width: 68%;
            display: flex;
            align-items: center; }
        .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-assetTree .wonder-texture-assetTree h1 {
          padding-left: 30px; }
        .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-assetTree .wonder-texture-assetTree .inspector-item {
          width: 100%;
          height: 25px;
          display: flex;
          margin: 3px 0px; }
          .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-assetTree .wonder-texture-assetTree .inspector-item .item-header {
            flex: initial;
            height: 100%;
            width: 32%;
            display: flex;
            align-items: center;
            margin-left: 15px; }
          .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-assetTree .wonder-texture-assetTree .inspector-item .item-content {
            flex: initial;
            height: 100%;
            width: 68%;
            display: flex;
            align-items: center; }
        .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-assetTree .wonder-light-material .wonder-material-texture,
        .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-assetTree .wonder-basic-material .wonder-material-texture {
          width: 100%;
          height: 150px;
          position: relative; }
          .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-assetTree .wonder-light-material .wonder-material-texture img,
          .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-assetTree .wonder-basic-material .wonder-material-texture img {
            width: 150px;
            height: 150px; }
          .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-assetTree .wonder-light-material .wonder-material-texture .texture_ground,
          .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-assetTree .wonder-basic-material .wonder-material-texture .texture_ground {
            position: absolute;
            left: 50px;
            top: 0px;
            width: 150px;
            height: 150px;
            z-index: 1; }
          .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-assetTree .wonder-light-material .wonder-material-texture .texture_remove,
          .wonder-app-component .wonder-mainEditor-component .right-component .inspector-parent .wonder-inspector-component .wonder-inspector-assetTree .wonder-basic-material .wonder-material-texture .texture_remove {
            display: inline-block; }

.color-pick-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .color-pick-content .color-pick-item {
    width: 220px;
    height: 305px;
    background: red;
    position: relative;
    z-index: 120; }
  .color-pick-content .color-pick-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 10, 0.7);
    z-index: 100; }

.select-component-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .select-component-content .select-component-item {
    width: 220px;
    height: 305px;
    background: #c0c0c0;
    position: relative;
    z-index: 120;
    overflow-y: scroll; }
    .select-component-content .select-component-item .item-header {
      width: 100%;
      height: 20px;
      line-height: 20px;
      text-align: center;
      padding: 5px 0px;
      border-bottom: 2px solid black; }
    .select-component-content .select-component-item .item-content {
      padding: 3px 7px;
      border: 1px solid rgba(192, 110, 110, 0.705); }
    .select-component-content .select-component-item .item-active {
      background: rgba(109, 41, 41, 0.753); }
  .select-component-content .select-component-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 10, 0.7);
    z-index: 100; }
