body, html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%; }

#ct {
  width: 100%;
  height: 100%; }
  #ct .drag-split {
    top: 0px;
    background: red;
    position: absolute; }
    #ct .drag-split:hover {
      cursor: move; }
  #ct .main-editor {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; }
    #ct .main-editor .vertical-direction {
      display: flex;
      width: 100%;
      height: 75%; }
      #ct .main-editor .vertical-direction .tree-component {
        flex: initial;
        background: #c0c0c0;
        position: relative;
        overflow: hidden;
        width: 15%;
        height: 100%; }
        #ct .main-editor .vertical-direction .tree-component .ant-tree li span {
          font-size: 16px; }
        #ct .main-editor .vertical-direction .tree-component .ant-tree li span.ant-tree-switcher {
          padding: 1px 0px;
          height: 26px;
          line-height: 26px;
          position: relative;
          left: 8px; }
        #ct .main-editor .vertical-direction .tree-component .ant-tree li span.ant-tree-switcher.ant-tree-roots_close:after,
        #ct .main-editor .vertical-direction .tree-component .ant-tree li span.ant-tree-switcher.ant-tree-center_close:after,
        #ct .main-editor .vertical-direction .tree-component .ant-tree li span.ant-tree-switcher.ant-tree-bottom_close:after,
        #ct .main-editor .vertical-direction .tree-component .ant-tree li span.ant-tree-switcher.ant-tree-noline_close:after,
        #ct .main-editor .vertical-direction .tree-component .ant-tree li span.ant-tree-switcher.ant-tree-roots_open:after,
        #ct .main-editor .vertical-direction .tree-component .ant-tree li span.ant-tree-switcher.ant-tree-center_open:after,
        #ct .main-editor .vertical-direction .tree-component .ant-tree li span.ant-tree-switcher.ant-tree-bottom_open:after,
        #ct .main-editor .vertical-direction .tree-component .ant-tree li span.ant-tree-switcher.ant-tree-noline_open:after {
          font-size: 20px; }
      #ct .main-editor .vertical-direction .canvas-parent {
        background: #57c5f7;
        position: relative;
        flex: 3; }
      #ct .main-editor .vertical-direction .main-inspector {
        width: 15%;
        height: 100%;
        background: #c0c0c0;
        position: relative;
        flex: initial; }
        #ct .main-editor .vertical-direction .main-inspector .transform-component {
          width: 100%; }
          #ct .main-editor .vertical-direction .main-inspector .transform-component .translation {
            width: 100%;
            padding-left: 50px;
            font-size: 12px;
            font-size: 16px; }
            #ct .main-editor .vertical-direction .main-inspector .transform-component .translation button {
              font-size: 8px;
              width: 50px;
              height: 30px;
              margin: 5px; }
        #ct .main-editor .vertical-direction .main-inspector .material-component {
          width: 100%;
          height: 60px;
          line-height: 60px;
          padding-left: 10px;
          position: relative; }
          #ct .main-editor .vertical-direction .main-inspector .material-component .color-component {
            width: 50%;
            height: 100%;
            flex: 1;
            overflow: visible;
            position: absolute;
            top: 0px;
            right: 0px; }
            #ct .main-editor .vertical-direction .main-inspector .material-component .color-component .color-button {
              width: 100%;
              height: 100%;
              text-align: center;
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: center;
              align-content: center;
              align-items: center;
              font-size: 12px;
              font-size: 16px; }
            #ct .main-editor .vertical-direction .main-inspector .material-component .color-component .color-picker {
              margin-top: 5px;
              position: absolute;
              left: -220px;
              top: -10px;
              z-index: 200;
              font-size: 12px;
              font-size: 16px; }
    #ct .main-editor .horizontal-direction {
      width: 100%;
      height: 25%; }
      #ct .main-editor .horizontal-direction .asset-component {
        background: #c0c0c0;
        display: flex;
        width: 100%;
        height: 100%; }
        #ct .main-editor .horizontal-direction .asset-component .asset-fileLoad {
          width: 15%; }
        #ct .main-editor .horizontal-direction .asset-component .asset-selectImg {
          position: absolute;
          top: 20%;
          left: 20%;
          width: 30%;
          height: 40%;
          background: red;
          z-index: 100; }
        #ct .main-editor .horizontal-direction .asset-component .asset-image {
          width: 90px;
          height: 110px;
          text-align: center;
          background: red;
          margin: 5px; }
          #ct .main-editor .horizontal-direction .asset-component .asset-image img {
            width: 90px;
            height: 90px; }
          #ct .main-editor .horizontal-direction .asset-component .asset-image span {
            width: 90px;
            height: 20px;
            display: inline-block;
            overflow: hidden;
            line-height: 20px; }

.ant-modal-wrap .ant-modal-body .asset-image {
  width: 90px;
  height: 110px;
  text-align: center;
  background: red;
  margin: 5px; }
  .ant-modal-wrap .ant-modal-body .asset-image img {
    width: 90px;
    height: 90px; }
  .ant-modal-wrap .ant-modal-body .asset-image span {
    width: 90px;
    height: 20px;
    display: inline-block;
    overflow: hidden;
    line-height: 20px; }
