body,html{
  margin:0px;
  padding:0px;
}
#ct{
  width:100%;
  height:100%;
  .drag-split{
    top:0px;
    background: red;
    position: absolute;
    &:hover{
      cursor:move;
    }
  }
  .main-editor{
    display: flex;
    flex-direction: column;
    height:100%;
    .vertical-direction {
      display: flex;
      height: 75%;
      .canvas-parent {
        background: #57c5f7;
        position: relative;
        flex: 3;
      }
      .tree-component {
        width: 15%;
        flex: initial;
        background: #c0c0c0;
        position: relative;
        overflow: hidden;
        .ant-tree li span {
          font-size: 16px;
        }
        .ant-tree li span.ant-tree-switcher {
          padding: 1px 0px;
          height: 26px;
          line-height: 26px;
          position: relative;
          left: 8px;
        }
        .ant-tree li span.ant-tree-switcher.ant-tree-roots_close:after,
        .ant-tree li span.ant-tree-switcher.ant-tree-center_close:after,
        .ant-tree li span.ant-tree-switcher.ant-tree-bottom_close:after,
        .ant-tree li span.ant-tree-switcher.ant-tree-noline_close:after,
        .ant-tree li span.ant-tree-switcher.ant-tree-roots_open:after,
        .ant-tree li span.ant-tree-switcher.ant-tree-center_open:after,
        .ant-tree li span.ant-tree-switcher.ant-tree-bottom_open:after,
        .ant-tree li span.ant-tree-switcher.ant-tree-noline_open:after {
          font-size: 20px;
        }
      }
      .transform-component {
        flex: initial;
        width: 15%;
        position: relative;
        background: #c0c0c0;
        .translation {
          button {
            width: 100px;
            height: 30px;
            margin: 5px;
          }
        }
      }
    }
    .horizontal-direction{
      width:100%;
      height:25%;
      .asset-component{
        width:100%;
        height:100%;
        background: #c0c0c0;
        display: flex;
        .asset-fileLoad{
          width:15%;
        }
        .asset-selectImg{
          position: absolute;
          top:20%;
          left:20%;
          width:30%;
          height:40%;
          background: red;
          z-index: 100;
        }
        .asset-image{
          width: 90px;
          height:110px;
          text-align: center;
          background: red;
          margin:5px;
          img{
            width:90px;
            height:90px;
          }
          span{
            display: inline-block;
            width:90px;
            overflow: hidden;
            height:20px;
            line-height: 20px;
          }
        }
      }
    }
  }
}
.ant-modal-wrap{
  .ant-modal-body{
    .asset-image{
      width: 90px;
      height:110px;
      text-align: center;
      background: red;
      margin:5px;
      img{
        width:90px;
        height:90px;
      }
      span{
        display: inline-block;
        width:90px;
        overflow: hidden;
        height:20px;
        line-height: 20px;
      }
    }
  }
}
