.wonder-asset-component{
    width:100%;
    height:100%;
    display: flex;
    .asset-tree{
        flex: initial;
        width:30%;
        height: 100%;
        background-color: rosybrown;
        .wonder-asset-header{
            width:100%;
            height:30px;
            display: flex;
            .header-item{
                flex:initial;
            }
        }
        .wonder-asset-assetTree{
            width:100%;
        }
    }
    .wonder-asset-assetChildren{
        flex: initial;
        width:70%;
        height: 100%;
        background-color: yellow;
        display: flex;
        .wonder-asset-fileBox,
        .wonder-asset-folderBox
        {
            width:80px;
            height:100px;
            margin:5px;
            z-index:100;
            position: relative;
            flex: initial;
            .item-ground{
                position: absolute;
                top:0px;
                left:0px;
                height:100%;
                width:100%;
            }
            img{
                width:80px;
                height:80px;
            }
            .item-text{
                width:100%;
                height:20px;
                display: block;
                line-height: 20px;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .item-active{
            background: goldenrod;
        }
    }
}