.asset-component{
    width:100%;
    height:100%;
    display: flex;
    .asset-tree{
        flex: initial;
        width:30%;
        height: 100%;
        background-color: rosybrown;
        .tree-header{
            width:100%;
            height:30px;
        }
    }
    .asset-content{
        flex: initial;
        width:70%;
        height: 100%;
        background-color: yellow;
        img{
            width:60px;
            height:60px;
        }
    }
}