.wonder-asset-assetChildren{
    flex: initial;
    width:70%;
    height: 100%;
    background-color: #444444;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    @import "../../../../../utils/_scrollBarUtils.scss";
    .wonder-asset-fileBox,
    .wonder-asset-folderBox
    {
        width:80px;
        height:80px;
        margin:5px;
        z-index:100;
        position: relative;
        flex: initial;
        display: flex;
        flex-direction: column;
        .item-ground{
            position: absolute;
            top:0px;
            left:0px;
            height:100%;
            width:100%;
        }
        .box-image{
            width:80px;
            height:60px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width:50px;
                height:50px;
            }
        }
        .item-text{
            width:100%;
            height:20px;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                padding-top:2px;
                width:80%;
                display: block;
                height:20px;
                line-height: 20px;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .item-active{
        background: #5C7EA6;
        border-radius: 10px;
    }
}