.wonder-asset-component{
    width:100%;
    height:80%;
    display: flex;
    flex-direction: row;
    .asset-tree{
        flex: initial;
        width:30%;
        height: 100%;
        background-color: #444444;
        display: flex;
        flex-direction: column;
        @import "assetHeader";
        @import "assetTree";
    }
    @import "assetChildrenNode";
}