.wonder-asset-assetChildren{
    flex: initial;
    width:70%;
    height: 100%;
    background-color: #333333;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    .wonder-asset-fileBox,
    .wonder-asset-folderBox
    {
        width:80px;
        height:100px;
        margin:5px;
        z-index:100;
        position: relative;
        flex: initial;
        .item-ground{
            position: absolute;
            top:0px;
            left:0px;
            height:100%;
            width:100%;
        }
        img{
            width:80px;
            height:80px;
        }
        .item-text{
            width:100%;
            height:20px;
            display: block;
            line-height: 20px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .item-active{
        background: goldenrod;
    }
}