.wonder-asset-component{
    width:100%;
    height:88%;
    display: flex;
    .asset-tree{
        flex: initial;
        width:30%;
        height: 100%;
        background-color: #444444;
        overflow-y: scroll;
        @import "../../../../../utils/scrollBarUtils";
        @import "assetHeader";
        @import "assetTree";
    }
    @import "assetChildrenNode";
}