.componentBox-component{
    padding-bottom: 6px;
    width:100%;
    .header{
        display: flex;
        justify-content: center;
        width: 100%;
        height:30px;
        margin-bottom: 10px;
        border-bottom:1px solid black;
        .header-triangle{
            flex:initial;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-content: center;
            .triangle-right{
                margin-top:8px;
                display: block;
                width: 0;
                height: 0;
                border-top: 6px solid transparent;
                border-left: 12px solid black;
                border-bottom: 6px solid transparent;
            }
            .triangle-bottom{
                margin-top:8px;
                display: block;
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 12px solid black;
            }
        }
        .header-title{
            flex:3;
            margin-left:10px;
        }
        .header-close{
            flex:initial;
            color:black;
            width:30px;
            text-align: center;
        }
    }
}
