<html>
    <head>
        <title>what fck this</title>
        <meta name="HandheldFriendly" content="true"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
    </head>
    <body>
        <label for="">name:</label><input type="text" id="name">
        <label for="">password:</label><input type="text" id="password">
        <button type="submit" id="btn">xme</button>
        <button id="view">在线查看</button>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script>
            $(function () {
                var userName = null;

                $("#view").hide();
                $("#btn").click(function () {
                    var name = $("#name").val();
                    var pws = $("#password").val();

                    userName = name;
                    $.getJSON("/add",{
                        name:name,
                        password:pws
                    },function (data) {
                        if(data.success == true){
                            alert("add user success");
                            $("#name").hide();
                            $("#password").hide();
                            $("#btn").hide();
                            $("#view").show();
                        }
                    })
                });

                $("#view").click(function () {
                    location.href = "/viewPage?name="+userName;
                });
            })
        </script>
    </body>
</html>
