body,html{
  margin:0px;
  padding:0px;
}
#ct{
  width:100%;
  height:100%;
}
#parent{
  width:100%;
  height :100%;
  margin:auto;
}
#webgl{
  left:200px;
}
.root{
  .root_btn{
    position: absolute;
    left:60%;
    top:50px;
    .btns{
      margin:10px;
      button{
        width:100px;
        height:30px;
        margin:5px;
      }
    }
  }
}
