.transform-component {
  flex: initial;
  width: 15%;
  height: 100%;
  position: relative;
  background: #c0c0c0;
  .translation {
    margin-left:30px;
    @include fontSize();
    button {
      width:100px;
      height: 30px;
      margin: 5px;
    }
  }
}