.wonder-drag-tree {
    position: absolute;
    top:0px;
    background: yellow;
    width:100%;
    height:100%;
    ul{
        position: relative;
        top:0px;
        z-index: 100;
        li{
            border:1px solid red;
        }
    }
    .wonder-disable-drag{
        z-index: 10;
        width:100%;
        height:100%;
        position: absolute;
        top:0px;
        background: teal;
    }
  }
