.wonder-assetBundle-rab {
    .wonder-singleInput-modal{
        .modal-item{
            width:680px;
            height:560px;
           .modal-item-content{
                height:480px;
                overflow-x: hidden;
           } 
        }
    }
}