.wonder-float-input{
    .float-input {
        position: relative;
        display: inline-block;
        padding: 4px 7px;
        width:140px;
        height: 28px;
        cursor: text;
        font-size: 12px;
        line-height: 1.5;
        color: #666;
        background-color: #fff;
        background-image: none;
        border: 1px solid #d9d9d9;
        border-radius: 6px;
        -webkit-transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    .float-input::placeholder {
      color: #ccc;
    }
    .float-input:hover {
      border-color: #57c5f7;
    }
    .float-input:focus {
      border-color: #57c5f7;
      outline: 0;
      box-shadow: 0 0 0 2px rgba(45, 183, 245, 0.2);
    }
    .component-label{
        cursor: crosshair;
        user-select: none;
    }
}