body,html{
  margin:0px;
  padding:0px;
}
#ct{
  width:100%;
  height:100%;
}
#canvas{
  width:65%;
  height :90%;
  margin:auto;
}
#webgl{
  left:200px;
}
.root{
  .root_btn{
    position: absolute;
    left:700px;
    top:50px;
    .btns{
      margin:20px;
      button{
        margin:5px;
      }
    }
  }
}
