.wonder-asset-component{
    width:100%;
    height:91%;
    display: flex;
    .asset-tree{
        flex: initial;
        width:30%;
        height: 100%;
        background-color: rosybrown;
        overflow-y: scroll;
        overflow-x: hidden;
        @import "assetHeader";
        @import "assetTree";
    }
    @import "assetChildrenNode";
}