.wonder-controller-component {
    width: 100%;
    height: 45px;
    .header-controller {
        height: 100%;
        background-color: #444444;
        display: flex;
        .controller-transform {
            flex: initial;
            width: 48%;
            height: 100%;
            .header-item {
                display: flex;
                flex: initial;
                align-items: center;
                height: 100%;
                flex-direction: row;
                .component-item {
                    flex: initial;
                    display: flex;
                    flex-direction: row;
                    margin-left: 10px;
                    align-items: center;
                    justify-content: center;
                    .transform-gizmo-switch {
                        flex: initial;
                        display: flex;
                        flex-direction: row;
                        margin-left: 10px;
                        align-items: center;
                        justify-content: center;
                        .translation {
                            background-image: url("../img/translation.png")
                        }
                        .rotation {
                            background-image: url("../img/rotation.png")
                        }
                        .scale {
                            background-image: url("../img/scale.png")
                        }
                        .select {
                            background-color: white;
                            background-size: 100%;
                            width: 30px;
                            height: 30px;
                        }
                        .not-select {
                            background-color: gray;
                            background-size: 100%;
                            width: 30px;
                            height: 30px;
                        }
                    }
                    ;
                    .transform-gizmo-coordinate-system-switch {
                        margin-left: 30px
                    }
                }
            }
        }
        .controller-runAndStop {
            flex: initial;
            width: 4%;
            height: 100%;
            background-color: #777777;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 25px;
                height: 25px;
            }
        }
        .controller-other {
            flex: initial;
            width: 48%;
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;
            .other-repoList{
                flex: 1;
                position: absolute;
                right:110px;
                width:90px;
                height:25px;
                text-align: center;
                border-radius: 5px;
                border: 1px solid #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    cursor: pointer;
                } 
                img{
                    width:15px;
                    height:15px;
                }
                span{
                    margin-left:8px;
                }
            }
            .other-currentRepo{
                flex: 1;
                right:220px;
                height:25px;
                position: absolute;
                text-align: center;
                border-radius: 5px;
                border: 1px solid #fff;
                padding:0 10px 0 10px;
                &:hover{
                    cursor: pointer;
                } 
                a{
                    width:100%;
                    height:100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width:15px;
                        height:15px;
                    }
                    .currentRepo-name{
                        margin-left:8px;
                        max-width: 200px;
                        color:#fff;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space:nowrap; 
                    }
                }
            }
            .other-language{
                flex: 1;
                position: absolute;
                right:30px;
                width:60px;
                height:25px;
                line-height:25px;
                text-align: center;
                border-radius: 5px;
                border: 1px solid #fff;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }

    .wonder-modal{
        .modal-item{
            height: 450px;
            .modal-item-content{
                height: 370px;
                .content-repo{
                    width:100%;
                    height:60px;
                    border-bottom: 1px solid #D5D9D8;
                    padding: 5px 0 5px 0;
                    color:#3e4849;
                    .repo-name{
                        height:35px;
                        line-height:35px;
                        font-size:17px;
                    }
                    .repo-description{
                        height:25px;
                        line-height:25px;
                        font-size:14px;
                    }
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}