.wonder-controller-component {
    width: 100%;
    height: 45px;
    .header-controller {
        height: 100%;
        background-color: #444444;
        display: flex;
        .controller-ambient {
            flex: initial;
            width: 18%;
            height: 100%;
            .header-item {
                display: flex;
                flex: initial;
                align-items: center;
                height: 100%;
                flex-direction: row;
                margin-left: 10px;
                .component-item {
                    flex: initial;
                    .inspector-item {
                        display: flex;
                        .item-header {
                            height: 25px;
                            line-height: 25px;
                        }
                        .item-content {
                            flex: initial;
                            display: flex;
                            flex-direction: row;
                            margin-left: 10px;
                            align-items: center;
                            justify-content: center;
                            .color-hex {
                                border-radius: 10px;
                                width: 40px;
                                height: 15px;
                            }
                            .color-select {
                                margin-left: 10px;
                                img {
                                    width: 15px;
                                    height: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .controller-transform {
            flex: initial;
            width: 30%;
            height: 100%;
            .header-item {
                display: flex;
                flex: initial;
                align-items: center;
                height: 100%;
                flex-direction: row;
                .component-item {
                    flex: initial;
                    display: flex;
                    flex-direction: row;
                    margin-left: 10px;
                    align-items: center;
                    justify-content: center;
                    .transform-gizmo-switch {
                        flex: initial;
                        display: flex;
                        flex-direction: row;
                        margin-left: 10px;
                        align-items: center;
                        justify-content: center;
                        .translation {
                            background-image: url("../img/translation.png")
                        }
                        .rotation {
                            background-image: url("../img/rotation.png")
                        }
                        .scale {
                            background-image: url("../img/scale.png")
                        }
                        .select {
                            background-color: white;
                            background-size: 100%;
                            width: 30px;
                            height: 30px;
                        }
                        .not-select {
                            background-color: gray;
                            background-size: 100%;
                            width: 30px;
                            height: 30px;
                        }
                    }
                    ;
                    .transform-gizmo-coordinate-system-switch {
                        margin-left: 30px
                    }
                }
            }
        }
        .controller-runAndStop {
            flex: initial;
            width: 4%;
            height: 100%;
            background-color: #777777;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 25px;
                height: 25px;
            }
        }
        .controller-other {
            flex: initial;
            width: 48%;
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;
            .other-language{
                flex: 1;
                position: absolute;
                right:30px;
                width:60px;
                height:25px;
                line-height:25px;
                text-align: center;
                border-radius: 5px;
                border: 1px solid #fff;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}