
.wonder-drag-tree {
    flex: initial;
    width:100%;
    height:100%;
    font-size:12px;
    position: relative;
    padding-top: 5px;
    @import "treeNode";
    .wonder-disable-drag{
        z-index: 10;
        width:100%;
        height:100%;
        position: absolute;
        top:0px;
    }
  }
