.wonder-modal {
    position: fixed;
    z-index: 200;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    top: 20%;
    display: flex;
    justify-content: center;
    .modal-item {
        width: 470px;
        height: 300px;
        position: relative;
        background: #c1c1c1;
        border-radius: 5px;
        z-index: 150;
        .modal-item-header {
            width: 100%;
            height: 22px;
            line-height: 22px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            text-align: center;
            font-size: 17px;
            font-weight: bold;
            padding: 5px 0px 2px 0px;
            border-bottom: 1px solid #868686;
            background: #555454;
            position: relative;
            img {
                position: absolute;
                top: 8px;
                cursor: hand;
                right: 20px;
                width: 15px;
                height: 15px;
            }
        }
        .modal-item-content {
            @import "../../utils/scrollBarUtils";
            color: #000;
            height: 213px;
            overflow-y: auto;
            overflow-x: hidden;
            width: 90%;
            margin-left: 5%;
            padding-top: 10px;
            box-sizing: border-box;
            font-size: 16px;
            .content-text {
                width: 100%;
            }
            .content-small-white {
                width: 100%;
                height: 10px;
            }
            .content-white {
                width: 100%;
                height: 30px;
            }
            .content-field {
                width: 100%;
                height: 26px;
                display: flex;
                border-bottom: 1px solid #868686;
                .field-title {
                    width: 50%;
                    text-align: left;
                    height: 26px;
                    line-height: 26px;
                }
                .field-content {
                    width: 50%;
                    margin-left: 4px;
                    text-align: left;
                    height: 26px;
                    line-height: 26px;
                    a {
                        white-space: nowrap;
                    }
                }
            }
        }
        .modal-item-footer {
            height: 50px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            position: relative;
            .footer-submit {
                background: rgb(219, 125, 53);
                border: 1px solid rgb(243, 201, 169);
                color: #555;
                font-weight: normal;
                &:hover {
                    color: #000;
                }
                width: 80px;
                position: absolute;
                top: 12px;
                right: 30px;
                padding-top: 5px;
            }
        }
    }
}