.wonder-modal{
    position: fixed;
    z-index: 200;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-item{
        width:470px;
        height:300px;
        position: relative;
        background: #c1c1c1;
        border-radius: 5px;
        z-index: 150;
        .modal-item-header{
            width:100%;
            height:30px;
            line-height: 30px;
            font-size:14px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            text-align: center;
            font-size:18px;
            font-weight: bold;
            padding: 3px 0px;
            border-bottom: 1px solid #868686;
            background: #555454;
        }
        .modal-item-content{
            @import "../../utils/scrollBarUtils";
            color:#000;
            height:214px;
            overflow-y: auto;
            width:90%;
            margin-left:5%;
            padding-top: 10px;
            box-sizing: border-box;
            font-size:16px;
            .content-field{
                width:100%;
                height:20px;
                display: flex;
                .field-content{
                    margin-left:4px;
                }
            }
        }
        .modal-item-footer{
            height:50px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            position: relative;
            .footer-close{
                width:100px;
                position: absolute;
                top:5px;
                right:30px;
            }
        }
    }
}