.wonder-tree-node {
    position: relative;
    margin: 0px;
    padding: 0px;
    top: 0px;
    z-index: 40;
    color: #fff;
    font-weight: normal;
    li {
        position: relative;
        height: 22px;
        padding-top: 3px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        &:hover {
            color: rgb(252, 155, 0);
        }
        .item-triangle {
            flex: initial;
            min-width: 22px;
            width: 22px;
            height: 22px;
            img {
                width: 22px;
                height: 22px;
            }
        }
        .treeNode-icon {
            width: 17px;
            height: 17px;
            margin-top: -3px;
            margin-right: 3px;
        }
        .draggable-container {
            width: 100%;
            height: 22px;
            line-height: 22px;
            border: 3px solid rgba(0, 0, 0, 0);
            * {
                pointer-events: none
            }
        }
        .select-active {
            background-color: #5C7EA6;
        }
        .select-not-active {
            background-color: rgba(255, 255, 255, 0.2)
        }
    }
    ul {
        margin-left: 18px;
    }
}