.wonder-tree-node{
    li{
        border:1px solid red;
        position: relative;
        .item-ground{
            position: absolute;
            top:0px;
            left:0px;
            height:100%;
            width:100%;
        }
        img{
            width:20px;
            height:20px;
        }
    }
}