.wonder-tree-node{
    position: relative;
    margin:0px;
    padding:0px;
    top:0px;
    z-index: 40;
    color:#fff;
    font-weight: normal;
    li{
        position: relative;
        height:22px;
        line-height: 22px;
        padding:0px 10px;
        display: flex;
        align-items: center;
        &:hover{
            color: coral;
        }
        .item-triangle{
            flex:initial;
            width:22px;
            height:22px;
            img{
                width:22px;
                height:22px;
            }
        }
        .item-ground{
            flex:initial;
            position: absolute;
            top:0px;
            left: 10%;
            height:100%;
            width: 90%;
        }
        .treeNode-icon{
            width:15px;
            height:15px;
            margin:0 3px;
        }
    }
    ul{
        margin-left:18px;
    }
}