.header-component{
    display: flex;
    width:100%;
    .header-item{
        display: flex;
        flex:initial;
        flex-direction: row;
        .component-item{
            flex:initial;
        }
    }
}
