.wonder-header-component{
    display: flex;
    width:100%;
    .header-item{
        display: flex;
        flex:initial;
        flex-direction: row;
        .component-item{
            flex:initial;
            position: relative;
            .color-pick-item{
                position: absolute;
                left:0px;
                top:25px;
                z-index:100;
            }
            
        }
    }
}
