.field-title {
    width: 20%;
    text-align: center;
    height: 24px;
    line-height: 24px;
}

.field-content {
    width: 80%;
    margin-left: 4px;
    text-align: center;
    height: 24px;
    line-height: 24px;
    a{
        white-space: nowrap;
    }
}