@mixin nav-section {
    .content-section{
        height:30px;
        line-height: 30px;
        width:100%;
        border-bottom: 1px solid #525353;
        color:#ffffff;
        font-weight: normal;
        position: relative;
        display: flex;
        flex-direction: row;
        &:hover{
            background: #e66b19;
        }
        .section-header{
            flex: initial;
            display: inline-block;
            height:100%;
            width:90%;
            margin-left:20px;
        }
        .section-tail{
            flex: initial;
            display: inline-block;
            height:100%;
            width:10%;
            text-align: center;
            .tail-triangle{
                margin-top:10px;
                width: 0;
                height: 0;
                border: 5px solid transparent;
                border-left-color: #ffffff;
            }
        }
    }
}

@mixin header-nav ($component){
    flex:initial;
    width:100%;
    height:25px;
    background-color: #333333;
    display: flex;
    position: relative;
    .#{$component}-header-item{
        flex:initial;
        width:25px;
        height:100%;
        display: flex;
        flex-direction: row;
        position: relative;
        .item-canBeClick, .item-notBeClick{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width:14px;
                height:14px;
            }
        }
        .item-canBeClick{
            &:hover{
                background-color: #666666;
            }
        }
        .item-content{
            position: absolute;
            z-index:200;
            top:95%;
            left:0px;
            width: 200px;
            height:150px;
            background-color: #4a4a4a;
            border:1px solid #706f6f;
            @include nav-section;
            .section-childLayer{
                position: absolute;
                width:150px;
                height:150px;
                top:0px;
                left:100%;
                border:1px solid #706f6f;
                background-color: #4a4a4a;
                @include nav-section;
            }
        }
    }

}