&::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

&::-webkit-scrollbar-button {
    display: none;
}

&::-webkit-scrollbar-track {
    background: rgba(1,1,1,0.6);
    width: 2px;
}

&::-webkit-scrollbar-thumb {
    background: #cfcccc;
    border-radius: 4px;
    &:hover{
        background: rgb(252, 113, 0);
    }
}