.wonder-app-component{
    width:100%;
    height:100%;
    color:#e4e4e4;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    @import "message/message";
    @import "header/header";
    @import "controller/controller";
    @import "mainEditor/mainEditor";
    @import "ui/appShell";
    #img-canvas{
        width:50px;
        height:50px;
        display: none;
    }
}
