[draggable] {
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.wonder-sceneTree-component {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    white-space: nowrap;
    @import "../../../../../utils/scrollBarUtils";
    @import "../../../../ui/dragTree";
}