[draggable] {
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}
.wonder-sceneTree-component{
    width:100%;
    height:95%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    @import "../../../../../utils/scrollBarUtils";
    @import "../../../../ui/dragTree";
}



