
[draggable] {
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}
.wonder-sceneTree-component{
    position: absolute;
    top:0px;
    width:100%;
    height:100%;

    .sceneTree-component{
        position: absolute;
        top:0px;
        background: yellow;
        width:100%;
        height:100%;
    }
}

