
.wonder-mainEditor-component{
    width:100%;
    height:96%;
    .component-common{
        flex:initial;
        width:20%;
        height:100%;
        background: #c0c0c0;
    }
    .vertical-component{
        display: flex;
        justify-content: center;
        width:100%;
        height:100%;
        .sceneTree-parent{
            @extend .component-common;
            order:10;
            .sceneTree-component{
                width:100%;
                height:100%;
            }
        }
        #webgl{
            flex:1;
            order:20;
        }
        .inspector-parent{
            @extend .component-common;
            order:30;
            .inspector-component{
                width:100%;
                height:100%;
            }
        }
    }
}