@import "../../../../../utils/inspectorItemMixin";
.wonder-inspector-component {
    @import "../../../../ui/floatInput";
    @import "../../../../ui/threeFloatInput";
    .wonder-inspector-sceneTree {
        padding-top: 5px;
        @include inspectorItem("sceneTree-name");

        @import "../../../../ui/componentBox";

        @include inspectorItem("wonder-inspector-transform");
        @import "sceneTree/inspectorTransform";

        @import "sceneTree/inspectorCameraGroup";

        @import "sceneTree/inspectorRenderGroup";

        @include inspectorItem("wonder-inspector-geometry");
        @import "sceneTree/inspectorGeometry";

        @include inspectorItem("wonder-inspector-light");
        @import "sceneTree/inspectorLight";

        @include inspectorItem("wonder-inspector-arcballCameraController");

        @import "sceneTree/inspectorAddableComponent";

        @import "sceneTree/inspectorScript";
    }
    .wonder-inspector-assetTree {
        @import "../../../../ui/attributeBox";
        @include inspectorItem("inspector-asset-folder");
        @include inspectorItem("wonder-texture-assetTree");
        @include inspectorItem("inspector-asset-wdb");
        @include inspectorItem("wonder-material-inspector");
        @include inspectorItem("wonder-scriptEventFunction-inspector");
        @include inspectorItem("wonder-scriptAttribute-inspector");
        .wonder-scriptEventFunction-inspector {
            .scriptEventFunction-data {
                .wonder-file-input{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    textarea{
                        height:300px;
                    }
                    button{
                        margin:20px;
                        height:28px;
                        width:230px;
                    }
                }
            }
        }
        .wonder-scriptAttribute-inspector {
            .scriptAttribute-data {
                display: flex;
                flex-direction: column;
                align-items: center;
                .data-fields{
                    width:90%;
                }
                hr{
                    width:100%;
                }
                .data-addable-btn{
                    margin:20px;
                    height:28px;
                    width:230px;
                }
            }
        }
    }
}