.wonder-inspector-component {
    .wonder-inspector-sceneTree {
        @import "../../ui/componentBox";
        .wonder-inspector-transform{
            width:100%;
            display: flex;
            .wonder-float-input{
                flex:1;
                display: flex;
                span{
                    flex:1
                }
                input {
                    flex:3
                }
            }

        }
        .wonder-light-material,
        .wonder-basic-material{
            .wonder-material-color{
                position: relative;
                .color-pick-item{
                    position: absolute;
                    top:25px;
                    left:0px;
                    z-index: 5;
                }
            }
            .wonder-material-texture{
                width:100%;
                height:150px;
                position: relative;
                img{
                    width:150px;
                    height:150px;
                }
                .texture_ground{
                    position: absolute;
                    left:50px;
                    top:0px;
                    width:150px;
                    height:150px;
                    z-index: 1;
                }
                .texture_remove{
                    display: inline-block;
                }
            }
        }
    }
}