.wonder-inspector-component {
    .wonder-inspector-sceneTree {
        @import "../../ui/componentBox";
        .wonder-inspector-transform{
            width:100%;
            .transform-item {
                width:100%;
                .wonder-transform-template {
                    display: flex;
                    width:100%;
                    .wonder-float-input{
                        flex:1;
                        display: flex;
                        height:30px;
                        line-height: 30px;
                        span{
                            flex:1
                        }
                        input {
                            flex:3
                        }
                    }
                }
            }

        }
        .wonder-light-material,
        .wonder-basic-material{
            // .wonder-material-color{
            // }
            .wonder-material-texture{
                width:100%;
                height:150px;
                position: relative;
                img{
                    width:150px;
                    height:150px;
                }
                .texture_ground{
                    position: absolute;
                    left:50px;
                    top:0px;
                    width:150px;
                    height:150px;
                    z-index: 1;
                }
                .texture_remove{
                    display: inline-block;
                }
            }
        }
        .wonder-addable-component{
            display: flex;
            justify-content: center;
            position: relative;
            padding-bottom: 25px;
            .addable-component-content{
                width:200px;
                height:30px;
                text-align: center;
                position: relative;
                .addable-btn{
                    width:180px;
                    height:25px;
                }
                .component-list {
                    position: absolute;
                    top:25px; 
                    left:-10px;
                    width:220px;
                    height:200px;
                    z-index:10;
                    overflow-y: scroll;
                    background: rgb(212, 148, 136);
                    .wonder-addable-componentBox{
                        .category-header{
                            width:100%;
                            height:20px;
                            border: 1px solid #ffffff;
                            background: rgba(47, 36, 209, 0.7);
                            color:#ffffff;
                        }
                        .category-content{
                            .content-type{
                                width:100%;
                                height:20px;
                                border: 1px solid #ffffff;
                                background: rgba(211, 175, 19, 0.7);
                            }
                        }
                    }
                }
            }
        }
    }
}