.left-component{
    display: flex;
    justify-content: center;
    flex:initial;
    height:100%;
    width:80%;
    flex-direction: column;
    .top-widget{
        flex: initial;
        width:100%;
        height:73%;
        display: flex;
        .sceneTree-parent{
            flex:initial;
            overflow-y: scroll;
            width:20%;
            height:100%;
            background: #666666;
            order:10;
            position: relative;
            top:0px;
            @import "component/sceneTree/sceneTree";
        }
        .webgl-parent{
            flex:1;
            order:20;
            position:relative;

            canvas{
                position: absolute;
                top:0px;
                left:0px;
                width:100%;
                height:100%;
                z-index: 10;
            }
            .gameViewNoCamera{
                position: absolute;
                top:0px;
                left:50%;
                width:50%;
                height:100%;
                z-index: 50;
                background: black;
                display: flex;
                align-items: center;
                justify-content: center;
                .gameViewNoCamera-text{
                    color:#ffffff;
                    font-size:24px;
                }
            }
        }
    }
    .bottom-widget{
        flex: initial;
        width:100%;
        height:27%;
        .bottom-widget-category{
            width:100%;
            height:23px;
            border-bottom:2px solid rgb(13, 11, 46);
            .category-name {
                width:60px;
                height:21px;
                line-height: 21px;
                text-align: center;
                display: inline-block;
                margin:0 5px;
                border:1px solid rgb(187, 128, 80);
            }
            .category-active{
                background: rgba(190, 109, 43, 0.705);
            }
        }
        @import "component/asset/asset";
        @import "component/console/console";
    }
}