.left-component{
    display: flex;
    justify-content: center;
    flex:initial;
    height:100%;
    width:80%;
    flex-direction: column;
    .top-widget{
        flex: initial;
        width:100%;
        height:73%;
        display: flex;
        .sceneTree-parent{
            flex:initial;
            width:20%;
            height:100%;
            background: #666666;
            order:10;
            position: relative;
            top:0px;
            @import "component/sceneTree/sceneTreeHeader";
            @import "component/sceneTree/sceneTree";
        }
        .webgl-parent{
            flex:1;
            order:20;
            position:relative;

            canvas{
                position: absolute;
                top:0px;
                left:0px;
                width:100%;
                height:100%;
                z-index: 10;
            }
            .gameViewNoCamera{
                position: absolute;
                top:0px;
                left:50%;
                width:50%;
                height:100%;
                z-index: 50;
                background: black;
                display: flex;
                align-items: center;
                justify-content: center;
                .gameViewNoCamera-text{
                    color:#ffffff;
                    font-size:24px;
                }
            }
        }
    }

    .wonder-bottom-component{
        flex: initial;
        width:100%;
        height:27%;
        background-color: #333333;
        .bottom-widget-category{
            width:100%;
            height:30px;
            border-bottom:1px solid #fff;
            .category-name {
                width:60px;
                height:30px;
                line-height: 30px;
                text-align: center;
                display: inline-block;
                margin:0 5px;
            }
            .category-active{
                background: #666666;
            }
        }
        @import "component/asset/asset";
        @import "component/console/console";
    }

}