.right-component{
    height:100%;
    width:20%;
    flex:initial;
    .inspector-parent{
        overflow-y: scroll;
        width:100%;
        height:100%;
        background: #c0c0c0;
        @import "component/inspector/inspector";
    }
}