@mixin consoleMessage($type) {
    .console-#{$type} {
        width: 100%;
        border-bottom: 1px solid #c0c0c0;
        .console-header {
            height: 40px;
            display: flex;
            font-size: 15px;
            align-items: center;
            img {
                margin: 0 5px;
                width: 20px;
                height: 20px;
            }
            .header-message {
                padding-top: 5px;
            }
        }
        .console-trace {
            width: 96%;
            font-size: 14px;
            background-color: rgb(86, 86, 86);
            padding: 5px 2%;
            .trace-info {
                word-wrap: break-word;
            }
        }
    }
}

.wonder-console-component {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    .console-header {
        width: 100%;
        height: 25px;
    }
    .console-content {
        overflow-y: auto;
        user-select: text;
        @import "../../../../../utils/scrollBarUtils";
        @include consoleMessage("error");
        @include consoleMessage("info");
        @include consoleMessage("warn");
        @include consoleMessage("log");
    }
}