    .asset-component{
      background: #c0c0c0;
      display: flex;
      @include widthAndHeight(100%,100%);
      .asset-fileLoad{
        width:15%;
      }
      .asset-selectImg{
        position: absolute;
        top:20%;
        left:20%;
        @include widthAndHeight(30%,40%);
        background: red;
        z-index: 100;
      }
      .asset-image{
        @include widthAndHeight(90px,110px);
        text-align: center;
        background: red;
        margin:5px;
        img{
          @include widthAndHeight(90px,90px);
        }
        span{
          display: inline-block;
          @include widthAndHeight(90px,20px);
          overflow: hidden;
          line-height: 20px;
        }
      }
    }
