.main-editor{
  display: flex;
  flex-direction: column;
  @include widthAndHeight(100%,100%);
  .vertical-direction {
    display: flex;
    @include widthAndHeight(100%,75%);
    @import "sceneTree";
    @import "canvasParent";
    @import "transform";
  }
  .horizontal-direction{
    @include widthAndHeight(100%,25%);
    @import "asset";
  }
}
