.transform-component {
  flex: initial;
  @include widthAndHeight(15%,100%);
  position: relative;
  background: #c0c0c0;
  .translation {
    margin-left:30px;
    button {
      @include widthAndHeight(100px,30px);
      margin: 5px;
    }
  }
}
