.wonder-inspector-component {
    .wonder-inspector-sceneTree {
        @import "../../../ui/componentBox";
        @import "sceneTree/inspectorTransform";
        @import "sceneTree/inspectorGeometry";
        @import "sceneTree/inspectorMaterial";
        @import "sceneTree/inspectorAddableComponent";
    }
    .wonder-inspector-assetTree{
        @import "assetTree/inspectorMaterial";
    }
}