.wonder-inspector-transform{
    width:100%;
    position: relative;
    padding:2px 0;
    .wonder-transform-template {
        display: flex;
        width:100%;
        .inspector-item{
            width:100%;
            .item-header{
                width:30%;
                margin-left:0px;
                justify-content: center;
            }
            .item-content{
                width:70%;
            }
        }
    }
    .transform-shade{
        background: rgba(195, 195, 195, 0.5);
        position: absolute;
        top:0px;
        left:0px;
        width:100%;
        height: 100%;
    }
}